
<h2>{{data.titulo}}</h2>

<form action= '/register/userRegister' method="POST" enctype="multipart/form-data">

    {{#data.campos}}
        <label for="{{id}}">{{name}}:</label>
        <input placeholder="{{placeholder}}" type="{{type}}" id="{{id}}" name="{{name}}" {{#required}}required{{/required}}><br>
    {{/data.campos}}
    

    <label for="gender">Género:</label>

    <select id="gender" name="gender" required>
        {{#genders}}
            <option value="{{id}}">{{nombre}}</option>
        {{/genders}}
    </select>

    <div id="map" style="height: 400px; width: 100%; margin-top: 20px; max-width: 600px;">
    </div> 
        <input disabled placeholder="Argentina" type="text" id="pais" name="pais">
    <input disabled placeholder="Buenos Aires" type="text" id="ciudad" name="ciudad"> 

    <button type="submit">Registrarse</button>
    
</form>





